body{
    background-color:#08098A(248, 211, 1);
    color:teal;
font-family  Arial,sans-serif;
}
header{
    background-color: #08098A;
    color:#341352;
    text-align: center;
    padding:30px;
}
h1 { 
   font-size: 36px;
}

h2 {
    color:darkslateblue;
}

p {
    font-size: 18px;
line-height:1.6;
}