body {
    background-color: #08098A;
    color: teal;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #f3f1f1;
    color: #e72d0c;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: darkslateblue;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: darkslategrey;
    text-decoration: none;
    background-color: darkolivegreen;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #341352;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: #341352;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: cadetblue;
    margin-top: 8px;
}

.card {
    background-color: indigo;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #6b2d5c;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: rgb(182, 198, 211);
    color: lightslategray;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}